{% extends "base.html" %}

{% block content %}

<style>

a { 
  display: inline-block;
  padding: 10px 20px;
  background-color: #5356FF;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 270px;
}

a:hover {
  background-color: #5755FE; 
}

a:active {
  background-color: #0E46A3; 
}

h1 {
    text-align: center;
}

</style>


<h1>Manager</h1>

<div>
    <a href="{% url 'manage' %}">Manage Requests</a>
</div>


{% endblock content %}

